{#
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Hello World, Angular 2</title>

    <base href="/">


    <script src="node_modules/angular2/bundles/angular2-polyfills.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="node_modules/rxjs/bundles/Rx.js"></script>
    <script src="node_modules/angular2/bundles/angular2.dev.js"></script>
    <script src="node_modules/angular2/bundles/router.dev.js"></script>
		

    <script>
    System.config({
        packages: {
            app: {
                format: 'register',
                defaultExtension: 'js'
            }
        }
    });
    System.import('app/boot')
        .then(null, console.error.bind(console));
    </script>
  </head>
  <body>

    <my-app>Loading...</my-app>
  </body>
</html>
#}

{% block content %}
<base href="/">

<main id="main">
  <my-app>Loading...</my-app>
</main>
{% endblock %}

{% block scripts %}
<script src="/vendor.dll.js"></script>
<script src="/tool.dll.js"></script>
<script src="/commons.js"></script>
<script src="ng2test/index.js"></script>
{% endblock%}


{% extends "tpls/page.html" %}
